<a href="https://colab.research.google.com/github/vidhi-sys/Python-Learning/blob/main/pandas/airbnb_project_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata/data

In [2]:
import pandas as pd
data=pd.read_csv('Airbnb_Open_Data.csv')
data.head()

/tmp/ipython-input-2638996708.py:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [4]:
data.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [5]:
columns_to_keep=['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews']
data=data[columns_to_keep]

Filtering Columns

In [7]:
data.shape

(47321, 19)

Renaming Columns

In [8]:
data.rename(columns={'NAME':'name',})

,id,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47316,27133963,Sun-drenched Loft,76706100079,unconfirmed,L,Brooklyn,Boerum Hill,40.68612,-73.99024,United States,US,True,strict,Private room,2017.0,$588,$118,1.0,1.0
47317,27134515,"Cozy 1 BR by St. George Ferry., 2nd Floor apt.",91735167603,unconfirmed,Edilma,Staten Island,St. George,40.63772,-74.08315,United States,US,False,flexible,Private room,2016.0,$271,$54,1.0,0.0
47318,27135067,ROOM in safe clean apt NEAR SUBWAY,5248096907,unconfirmed,Mike&Mavi,Manhattan,Harlem,40.82292,-73.95598,United States,US,False,flexible,Private room,2021.0,$608,$122,30.0,0.0
47319,27135620,Brand new one bedroom UpperEastSide,11721400640,verified,Kenneth,Manhattan,Upper East Side,40.76938,-73.95143,United States,US,True,flexible,Entire home/apt,2007.0,$137,$27,1.0,1.0
47320,27136172,Homey & Cozy room in queens!,45819552982,unconfirmed,Alyandry,Qu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

check duplicates

In [10]:
data.duplicated().sum()

np.int64(0)

In [14]:
data.drop_duplicates(inplace=True)
data.duplicated().head(5)

/tmp/ipython-input-3592967939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(inplace=True)

0    False
1    False
2    False
3    False
4    False
dtype: bool

Null values

In [15]:
data.isna().sum()

id                          0
NAME                      169
host id                     0
host_identity_verified    184
host name                 233
neighbourhood group        29
neighbourhood              17
lat                         9
long                        9
country                    88
country code               80
instant_bookable           80
cancellation_policy        51
room type                   1
Construction year         185
price                     138
service fee               130
minimum nights            288
number of reviews          50
dtype: int64

In [16]:
data=data.dropna()
data.isna().sum()

id                        0
NAME                      0
host id                   0
host_identity_verified    0
host name                 0
neighbourhood group       0
neighbourhood             0
lat                       0
long                      0
country                   0
country code              0
instant_bookable          0
cancellation_policy       0
room type                 0
Construction year         0
price                     0
service fee               0
minimum nights            0
number of reviews         0
dtype: int64

In [17]:
print(data.columns.tolist())

['id', 'NAME', 'host id', 'host_identity_verified', 'host name', 'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country', 'country code', 'instant_bookable', 'cancellation_policy', 'room type', 'Construction year', 'price', 'service fee', 'minimum nights', 'number of reviews']

In [19]:
data.drop(columns=['host_identity_verified'], inplace=True)

In [20]:
data['host name']=data['host name'].fillna('Unknown')

In [21]:
data.head()

,id,NAME,host id,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0
7,1005202,BlissArtsSpace!,90821839709,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0

In [25]:
data['instant_bookable'] = data['instant_bookable'].fillna(False).astype(int)

/tmp/ipython-input-4158786440.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['instant_bookable'] = data['instant_bookable'].fillna(False).astype(int)

In [27]:
data.head()

,id,NAME,host id,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,$966,$193,10.0,9.0
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,0,flexible,Entire home/apt,2013.0,$577,$115,3.0,74.0
7,1005202,BlissArtsSpace!,90821839709,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,"$1,060",$212,45.0,49.0

In [29]:
data.tail()

,id,NAME,host id,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews
47315,27133411,Brand new 2 BEDROOMS BROOKLYN,50125328248,Casey,Brooklyn,Williamsburg,40.71011,-73.95782,United States,US,0,strict,Entire home/apt,2005.0,$868,$174,3.0,0.0
47316,27133963,Sun-drenched Loft,76706100079,L,Brooklyn,Boerum Hill,40.68612,-73.99024,United States,US,0,strict,Private room,2017.0,$588,$118,1.0,1.0
47317,27134515,"Cozy 1 BR by St. George Ferry., 2nd Floor apt.",91735167603,Edilma,Staten Island,St. George,40.63772,-74.08315,United States,US,0,flexible,Private room,2016.0,$271,$54,1.0,0.0
47318,27135067,ROOM in safe clean apt NEAR SUBWAY,5248096907,Mike&Mavi,Manhattan,Harlem,40.82292,-73.95598,United States,US,0,flexible,Private room,2021.0,$608,$122,30.0,0.0
47319,27135620,Brand new one bedroom UpperEastSide,11721400640,Kenneth,Manhattan,Upper East Side,40.76938,-73.95143,United States,US,0,flexible,Entire home/apt,2007.0,$137,$27,1.0,1.0